[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
faker = "*"
pandas = "*"
hw = "*"
read = "*"
matplotlib = "*"
webargs = "*"
gmail = "*"
httpx = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
